* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0 200px;
  border: 2px solid black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.header {
  background-color: aquamarine;
  width: 600px;
  margin: auto;
  margin-top: 20px;
}

.table-tags table {
  width: 600px;
  margin: auto;
  border: 2px solid red;
}

.table-attributes table {
  width: 600px;
  margin: auto;
  border: 2px solid red;
  margin-bottom: 20px;
}