* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 800px;
  margin: auto;
  /*border: 2px solid black;*/
}

h1 {
  text-align: center;
  font-family: Kalam;
  color: white;
}

h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: Kalam;
}

thead {
  background-color: #AF4425;
  color: white;
}

th, td {
  padding: 2px;
  font-family: 'Architects Daughter';
}

tbody td {
  border-top: 2px solid #EBDCB2;
}

.header {
  background-color: #662E1C;
  width: 600px;
  margin: auto;
  margin-top: 20px;
}

.table-tags table {
  width: 600px;
  margin: auto;
  border: 2px solid #EBDCB2;
}

.table-attributes table {
  width: 600px;
  margin: auto;
  border: 2px solid #EBDCB2;
  margin-bottom: 20px;
}

.tag, .attr {
  background-color: #C9A66B;
}